---
import AutoSlider from '../../components/AutoSlider.astro';
import CardGrid from '../../components/CardGrid.astro';
import DropdownItem from '../../components/DropdownItem.astro';
import FullWidthBanner from '../../components/FullWidthBanner.astro';
import IconCard from '../../components/IconCard.astro';
import TextCard from '../../components/TextCard.astro';
import { getLangFromUrl, useTranslations, LOCALES } from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;
export async function getStaticPaths() {
	return Object.keys(LOCALES).map((lang) => {
		return { params: { lang } };
	});
}
---

<Layout lang={lang} title={t('nav.components')}>
	<main class="container mx-auto">
		<section>
			<h1>{t('nav.components')}</h1>
			<p>{t('components.description')}</p>
		</section>

		<section class="flex flex-col gap-2">
			<h2>{t('test.iconTitle')}</h2>
			<p>{t('test.iconDescription')}</p>
			<div class="flex flex-wrap gap-2">
				<i title="Alpine.js"><img class="w-6 aspect-square" src="/icons/alpinejs.svg" /></i>
				<i title="globe"><img class="w-6 aspect-square" src="/icons/globe.svg" /></i>
				<i title="link"><img class="w-6 aspect-square" src="/icons/link.svg" /></i>
				<i title="mailerSend"><img class="w-6 aspect-square" src="/icons/mailersend.svg" /></i>
				<i title="mdx"><img class="w-6 aspect-square" src="/icons/mdx.svg" /></i>
				<i title="pointer"><img class="w-6 aspect-square" src="/icons/pointer.svg" /></i>
				<i title="search"><img class="w-6 aspect-square" src="/icons/search.svg" /></i>
				<i title="sitemap"><img class="w-6 aspect-square" src="/icons/sitemap.svg" /></i>
				<i title="tailwind"><img class="w-6 aspect-square" src="/icons/tailwind.svg" /></i>
				<i title="vercel"><img class="w-6 aspect-square" src="/icons/vercel.svg" /></i>
				<i title="zero"><img class="w-6 aspect-square" src="/icons/zero.svg" /></i>
			</div>
		</section>

		<section class="flex flex-col gap-2">
			<h2>{t('test.dropdownCardTitle')}</h2>
			<p>{t('test.dropdownCardDescription')}</p>
			<DropdownItem content="test.description" title="test.title" />
		</section>

		<section class="flex flex-col gap-2">
			<h2>{t('test.cardsTitle')}</h2>
			<p>{t('test.cardsDescription')}</p>

			<div>
				<h3>IconCard</h3>
				<p>{t('test.iconCardDescription')}</p>
				<IconCard
					href="https://docs.astro.build/en/guides/integrations-guide/alpinejs/"
					imgAlt="alpine.js integration guide"
					imgHref="/icons/alpinejs.svg"
					title="Alpine.js"
				/>
			</div>

			<div>
				<h3>.card class</h3>
				<p>{t('test.cardClass')}</p>
				<a class="card" href="#">
					<div class="flex items-baseline justify-between">
						<h4>{t('test.cardGridTitle1')}</h4>
						<i><img class="w-5" src="/icons/link.svg" /></i>
					</div>
					<p>{t('test.cardGridDescription1')}</p>
				</a>
			</div>
		</section>

		<section class="flex flex-col gap-2">
			<AutoSlider description={t('test.autoSliderDescription')} title={t('test.autoSliderTitle')}>
				<TextCard
					description={t('slider.card_1_description')}
					icon="/icons/zero.svg"
					title={t('slider.card_1_title')}
				/>
				<TextCard
					description={t('slider.card_2_description')}
					icon="/icons/pointer.svg"
					title={t('slider.card_2_title')}
				/>
				<TextCard
					description={t('slider.card_3_description')}
					icon="/icons/globe.svg"
					title={t('slider.card_3_title')}
				/>
				<TextCard
					description={t('slider.card_4_description')}
					icon="/icons/tailwind.svg"
					title={t('slider.card_4_title')}
				/>
				<TextCard
					description={t('slider.card_5_description')}
					icon="/icons/search.svg"
					title={t('slider.card_5_title')}
				/>
				<!-- some duplicates needed to make sure row is full -->
				<TextCard
					description={t('slider.card_1_description')}
					icon="/icons/zero.svg"
					title={t('slider.card_1_title')}
				/>
				<TextCard
					description={t('slider.card_2_description')}
					icon="/icons/pointer.svg"
					title={t('slider.card_2_title')}
				/>
				<TextCard
					description={t('slider.card_3_description')}
					icon="/icons/globe.svg"
					title={t('slider.card_3_title')}
				/>
			</AutoSlider>
		</section>

		<section class="flex flex-col gap-2">
			<h2>{t('test.containersTitle')}</h2>
			<p>{t('test.cardGridDescription')}</p>
			<CardGrid>
				<a class="card" href="#" slot="upper-row">
					<div class="flex items-baseline justify-between">
						<h4>{t('test.cardGridTitle1')}</h4>
						<i><img class="w-5" src="/icons/link.svg" /></i>
					</div>
					<p>{t('test.cardGridDescription1')}</p>
				</a>
				<a class="card" href={`/${lang}/blog/`} slot="upper-row">
					<div class="flex items-baseline justify-between">
						<h4>{t('test.cardGridTitle2')}</h4>
						<i><img class="w-5" src="/icons/link.svg" /></i>
					</div>
					<p>{t('test.cardGridDescription2')}</p>
				</a>
				<div class="card" slot="lower-row">
					<h4>{t('test.cardGridTitle3')}</h4>
					<p class="m-0 mt-1">{t('test.cardGridDescription3')}</p>
				</div>
				<a class="card" href={`/${lang}/faq`} slot="lower-row">
					<div class="flex items-baseline justify-between">
						<h4>{t('test.cardGridTitle4')}</h4>
						<i><img class="w-5" src="/icons/link.svg" /></i>
					</div>
					<p>{t('test.cardGridDescription4')}</p>
				</a>
				<div class="card" slot="lower-row">
					<h4>{t('test.cardGridTitle5')}</h4>
					<p>{t('test.cardGridDescription5')}</p>
				</div>
			</CardGrid>
		</section>

		<section>
			<h2>{t('test.fullWidthBannerTitle')}</h2>
			<p>{t('test.fullWidthBannerDescription')}</p>
			<FullWidthBanner description="test.description" title="test.title" />
		</section>
	</main>
</Layout>
